POSTGRES_URL="postgres://default:ZCqw3FaWRfY5@ep-square-mud-55369434-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_PRISMA_URL="postgres://default:ZCqw3FaWRfY5@ep-square-mud-55369434-pooler.us-east-1.postgres.vercel-storage.com:5432/verceldb?pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NON_POOLING="postgres://default:ZCqw3FaWRfY5@ep-square-mud-55369434.us-east-1.postgres.vercel-storage.com:5432/verceldb"
POSTGRES_USER="default"
POSTGRES_HOST="ep-square-mud-55369434-pooler.us-east-1.postgres.vercel-storage.com"
POSTGRES_PASSWORD="ZCqw3FaWRfY5"
POSTGRES_DATABASE="verceldb"

openssl rand -base64 32
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth%